/* Landing page *
project
skills
education
responsibilities
lets connect
footer

*/

body{
  background-color: black;
  cursor:auto;
  font-family: 'Courier New', Courier, monospace;
  
} 

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 10% 0 10%;
   }
 header h1 {
   -webkit-text-stroke: 1.5px rgb(255, 255, 255);
   font-family: "Arial Black", sans-serif;
   cursor: default;
   font-size: 2em;
   transition: 1s;
 }
 
header h1:hover {
   color: rgb(255, 255, 255);
   text-shadow: 0 0 50px rgb(47, 255, 0);
 }

 .navbar a {
   display: inline-block;
   margin-left: 30px;
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 1.2em;
   transition: .5s;
   cursor: pointer;
}
 .navbar a:hover,
 .navbar .active {
   color: #6bff77;
 }
 .navbar a:hover {
   text-shadow: 0 0 40px #9ee8ff;
 }

 .portfolio_div {
     margin: 5% 10%;
   display: flex;
   align-items: center;
   color: white;
   background-image: url(pngwing.com.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
 }
 section h2{
  -webkit-text-stroke: 1px rgb(211, 211, 211);
   color: transparent;
 }
.imaz{
  height: 60px;
}
 section span a {
   color: #0ef;
   text-decoration: none;
   transition: .5s;
 }
 
 section span a:hover {
   text-shadow: 0 0 50px #fff;
   color: white;
 }
 section b{
  color: #b8ffbe;
  cursor: pointer;
 }
 section b:hover{
  /* color: #6bff77; */
  text-shadow: 0 0 20px  #6bff77;
 }
 section p{
  max-width: 800px;
  background-color: #151515;
  border-radius: 5px;
  padding: 40px;
  opacity: 0.9;
 }
 @media screen and (max-width: 500px) {
  .portfolio_div {
    margin: 2% 2%;
    display: flex;
    align-items: center;
    color: white;
    background-image: url(pngwing.com.png);
   background-repeat: no-repeat;
   background-position: right;
   background-size:contain;
  }
  section p{
    background-color: #151515;
    border-radius: 5px;
    padding: 20px;
    opacity: 0.9;
   }
   .navbar a {
    display:grid;
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    transition: .5s;
    cursor: pointer;
 }
 header{
  padding-top: 20px;
 }
}

 .break{
  height: 2px;
  background: linear-gradient(to right, rgb(1, 159, 43), rgb(132, 0, 255));
}

 
.break-light{
  height: 1px;
  background: linear-gradient(to right, rgb(132, 0, 255), rgb(1, 159, 43));
}




/* Project-  Section-------------------------------------------------------------------
----------------------------------------------------------------------------------
---------------------------------------------------------------- ----------------*/

h3{
  text-align: center;

}
.project_container{
  background-color: #000000;
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.project_container .project{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 330px;
  max-width: 100%;
  height: 350px;
  background: rgb(30, 29, 29);
  color: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 122, 14, 0.15);
}
.project_container .project .project_image{
  position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.project_container .project .project_image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project_container .project:hover {
  height: 400px;
}
.project_container .project:hover .project_image {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.project_container .project .project_content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.project_container .project:hover .project_content  {
  top: 100px;
  height: 300px;
}

.project_container .project .project_content  h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}

.project_container .project .project_content  p {
  color: #ffffff;
}

.project_container .project .project_content  a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: white;
  font-weight: 500;
}

.project_container .project .project_content  a:hover {
  opacity: 0.8;
}

/* Skills  ------------------------------------------
----------------------------------------------------- */
.skills_section{
  background:rgb(0, 0, 0);
  padding: 10px 150px 10px 150px;
}
.skills_section .card{
  height: 150px;
  width: 150px;
  background-color: rgb(47, 47, 47);
  border-radius: 7px;
}
.skills_section .card h4{
  text-align: center;
  color: white;
}

/* Lets connect----------------
------------------------------------------------------------- */
/* footer-- and lets connect section */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url(connection.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
  color: white;
 }

 h3 {
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 0.5rem;
  font-weight: bold;
}

.footer-content p {
  background-color: #000000 ;
  font-weight:bold;
  opacity: 90%;
  border-radius: 10px;
  padding: 10px;
  max-width: 800px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 1rem;
  color: #d1ffca;
}
.footer-content li{
  list-style: none;
}

.socials {
  background-color: #000000;
  opacity: 80%;
  border-radius: 3px;
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  padding: 0 5px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: rgb(41, 255, 69);
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
 }

input[type=submit] {
  background-color: #04AA6D;
  color: rgb(28, 28, 28);
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #01ff0e;
  border-radius: 8px;
  transition: 1s;
  color: #000000;
  border-color: #ffcc01 2px;
}

.container {
   background-color: black;
  max-width: 500px;  
  padding-left: 10%;
  padding-bottom: 25px;
  border-radius: 5px;
}
/* footer--------------------------------------------
--------------------------------------------- */
.footer-bottom {
  background: #000000;
  padding: 10px 45px 20px 45px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  color: white;
}

.footer-bottom p a {
  color: #d5e000;
  font-size: 16px;
  text-decoration: burlywood;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
  padding: auto;
     font-weight: 200;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
} 

.footer-menu ul li a:hover {
  color: #2769da;
  font-weight: bold;
}

/* zdfcgvhjkzxcvbnfghjk

xcvhbjnkfdghjkjcvbjn*/
:root {
  --color-black: black;
  --color-white: white;
  --color-grey: #494949;
  --sticky-top-pos: 30vh;
  --buffer: 5rem;
}
.timeline {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
}

.timeline__section {
  display: grid;
  grid-template-columns: auto 5px 50px auto;
  align-items: start;
  position: relative;
}

.timeline__left {
  font-size: 2.5rem;
  text-align: right;
  text-transform: uppercase;
}

.timeline__left,
.timeline__middle,
.timeline__tracker {
  position: sticky;
  top: var(--sticky-top-pos);
  /*   margin-bottom: var(--buffer); */
}

.timeline__left,
.timeline__middle {
  margin-bottom: var(--buffer);
}

.timeline__right {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(128, 128, 128, 1) 0%,
    rgba(128, 128, 128, 1) 100%
  );
}

.timeline__right > div {
  background-color: var(--color-black);
  padding-bottom: var(--buffer);
  padding-left: 45px;
  margin-left: 4px;
}

.timeline__date > div:first-child {
  font-size: 1.3rem;
}

.timeline__bullet {
  --bullet-dims: 20px;
  background-color: var(--color-white);
  width: var(--bullet-dims);
  height: var(--bullet-dims);
  border-radius: 99999%;
  transform: translateX(calc(var(--bullet-dims) / 2 + 2px));
  float: right;
}

.timeline__content {
  font-size: 3rem;
  color: var(--color-grey);
  transition: color 1s cubic-bezier(0, 0.39, 0.58, 1);
}

.animate-on-scroll {
  color: var(--color-white);
}

/* asdfghj */

#timeline-container {
  background: rgb(0, 17, 46);
  background: linear-gradient(
    171deg,
    rgb(22, 22, 22) 0%,
    rgb(0, 0, 0) 100%
  );
  /* overflow: auto; */
  padding: 60px 0;

  .inner-container {
    max-width: 1000px;
    margin: 0 auto;

    .heading {
      text-align: center;
      font-family: var(--font-family-1);
      font-weight: 700;
      font-size: 3rem;
      color: white;
      margin-top: 0;
    }
  }
}

.timeline {
  margin: 0 auto;
  position: relative;
  left: 120px;
  width: 80%;
  max-width: 900px;
  margin-top: 16px;
  margin-left: 5%;
}

.timeline-item {
  color: #ffffff;
  font-family: var(--font-family-2);
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-left: 4px solid #fff;
  border-bottom: 1px solid #ffffff;
  position: relative;
  list-style-type: none;
  --item-width: calc(100%);

  &::after {
    content: attr(data-date);
    position: absolute;
    right: calc(var(--item-width) + 40px);
    top: 16px;
    float: right;
    font-weight: bold;
    white-space: nowrap;
  }

  &::before {
    content: "";
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    left: -10px;
    top: 21px;
  }

  &:last-child {
    border-bottom: none;
  }
}

/* @media only screen and (max-width: 800px) {
  .timeline {
    margin: 0 auto;
    position: relative;
    left: 85px;

    .timeline-item {
      font-size: 1.1rem;

      &::after {
        right: calc(var(--item-width) + 30px);
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .timeline-item {
    padding: 1rem 1.5rem 1rem 0.5rem;

    &::after {
      right: calc(var(--item-width) + 20px);
    }
  }
} */
.mobile-view{
  min-height: 100vh;
  color: #787878;
  display: none;

}
@media screen and (max-width:500px) {
  .mobile-view{
    display: block;
    min-height: 100vh;
    color: #01ff0e;
    transition: 1.7s ease-in-out;
    padding: 10px 10px 10px 10px;
  }
  .navbar{
    display: none;
  }
  .portfolio_div{
    display: none;
  }
  .project_container{
    display: none;
  }
  .skills_section{
    display: none;
  }
  #timeline-container{
    display: none;
  }
  .timeline{
    display: none;
  }
  .footer-content{
    display: none;
  }
}