body{
   background-image: url(background_moon_theme.svg);
   background-repeat: no-repeat;
   background-size: cover;
  
   
}

/* *{
   background-color: rgb(0, 0, 0);
} */
   /*--------------- navbar *-----------------------------------------------------------------------*/
.exp{
   height: 60px;
   background-color: rgb(29, 29, 29);
   border-radius: 5px;
   overflow: hidden;
}
.border_of_navbar{
   width: 100%;
   border-radius: 5px;
   padding: 2px;
   background: linear-gradient(to right, rgb(1, 159, 43), rgb(132, 0, 255));
}

.navbar .exp ul{
   list-style: none;
   display: flex;
   background-color:rgb(29, 29, 29) ;
   
}

.exp ul li{
   display: inline;
   background-color:rgb(29, 29, 29) ;
   position: relative;
   
}
.exp ul li a{
   font-size: 18px;
   float: left;
   margin-right: 50px;
   text-align: center;
   color: rgb(255, 255, 255);
   background-color:rgb(29, 29, 29) ;
   text-decoration: none;
}
.exp a:hover{
   color: rgb(178, 245, 197);
   transform: 0.02s;
   transition-duration: 0.04s;
   
}
.menu_container a.active{
   background-color: aqua;
   color: black;
}
/* menu_annimation in navbar-------------------------------------------------------------- */
.menu_container {
   background-color:rgb(29, 29, 29) ;
   padding: 10px 10px 10px 60px;
   cursor: pointer;
   display: none;
}
/* 3 bars in the menu animation */
 .bar1, .bar2, .bar3 {
   width: 30px;
   height: 5px;
   background-color: #718800;
   margin: 5px 0;
   transition: 0.5s;
}
 
 /* Rotate first bar */
 .change .bar1 {
   transform: translate(0, 11px) rotate(-45deg);
 }
 
 /* Fade out the second bar */
 .change .bar2 {opacity: 0;}
 
 /* Rotate last bar */
 .change .bar3 {
   transform: translate(0, -11px) rotate(45deg);
 }

/**media queries for navigation bar-------**/
@media(max-width:650px){
  .navbar{
   flex-direction: column;
   align-items: flex-start;
  }
  .menu_container{
   display: block;
  }
  .exp{
   display: none;
   width: 100%;
  }
  .exp ul{
   flex-direction: column;
  }
  .exp ul li{
   text-align: center;
  }
  .exp ul li a{
   padding: .5rem 1rem;
  }
  .exp.active{
   display: flex;
  }
}

/* cartoon annimation part----------------------------------- */
 /* .cartoon_view_navbar ul li{
    font-size: large;
     background-color:rgb(29, 29, 29) ;
     position: relative;
 } */


/*  Welcome text ---------------------------------------------------------
 Design------------------------------------------------------ */
 h2{
   display: flex;
   min-height: 60vh;
   font-family: Arial, Helvetica, sans-serif;
   justify-content: center;
   align-items: center;
   font-size: 14vh;
   color: rgb(26, 255, 0) ;
   -webkit-text-stroke: 0.3vw #ffffff;
   text-transform: uppercase;

 }
 h2::before{
   content: attr(data-text);
   position: absolute;
   width: 50%;  
   height: 100;
   -webkit-text-stroke: 0vw  rgb(57, 57, 57);
   border-right:  4px solid rgb(55, 255, 0);
   overflow: hidden;
   animation: animate 6s linear infinite;
 }
 @keyframes animate {
   0%, 10%, 100%{
      width: 0;
   }
   70%, 90%{
      width: 100%;
   }
 }

 /*------------------------------------------------- EXPLORE SECTION ----------------------*/
 .explore_section{
   color: white;
   width: 100%;
   height:auto;
   padding-bottom: 20px;
   /* background-color:  white; */
   background-image: linear-gradient(to right top, #6bd16d, #00d19c, #00cdc7, #00c5e4, #0fbaf1, #35b0f5, #57a5f6, #7699f1, #6f8df7, #6d80fa, #7171fc, #7a5ffb);
 }
 .explore_section h1{
   color: black;
   text-align: center;
   padding: 10px 0;
   font-family: sans-serif;
 }
 .elplore_contents_all{
   display: flex;
   width: 80%;
   height: auto;
   flex-wrap: wrap;
   margin: auto;
   justify-content: space-around;
 }
 .explore_items{
   padding: 20px;
   margin: 10px 10px 10px 10px;
   min-width: 250px;
   max-width: 300px;
   border-radius: 15px 2px 15px 2px;
   color: white;
   margin: 10px 0;
   flex-basis: 30%;
   box-shadow: 0px 0px 5px 1px rgb(38, 255, 0);
   background-image: linear-gradient(to right top, #000000, #131313, #1f1f1f, #2c2c2c, #393939, #3d3d41, #3e424a, #3d4853, #254854, #00484d, #00463b, #004322);
 }
 .explore_items img{
   height: 100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px 2px 10px 2px;
 }
 .explore_items button{
   display: flex;
   margin: auto;
   padding: 5px 5px 5px 5px;
   border-radius: 5px;
   background-color: rgb(107, 107, 107);
   color: white;
 }
 /*  Services section ------------------------------------- */
 