*{
  color: #fff;
  cursor: default; 
}

body{
  background: #000000;
}

/*--------------- navbar *-----------------------------------------------------------------------*/
.exp{
   height: 60px;
   background-color: rgb(29, 29, 29);
   border-radius: 5px;
   overflow: hidden;
}
.border_of_navbar{
   width: 100%;
   border-radius: 5px;
   padding: 2px;
   background: linear-gradient(to right, rgb(1, 159, 43), rgb(132, 0, 255));
}

.navbar .exp ul{
   list-style: none;
   display: flex;
   background-color:rgb(29, 29, 29) ;
   
}

.exp ul li{
   display: inline;
   background-color:rgb(29, 29, 29) ;
   position: relative;
   
}
.exp ul li a{
   font-size: 18px;
   float: left;
   margin-right: 50px;
   text-align: center;
   color: rgb(255, 255, 255);
   background-color:rgb(29, 29, 29) ;
   text-decoration: none;
}
.exp a:hover{
   color: rgb(178, 245, 197);
   transform: 0.02s;
   transition-duration: 0.04s;
   
}
.menu_container a.active{
   background-color: aqua;
   color: black;
}
/* menu_annimation in navbar--------------------------------------------------------------*/
.menu_container {
   background-color:rgb(29, 29, 29) ;
   padding: 10px 10px 10px 60px;
   cursor: pointer;
   display: none;
}
/* 3 bars in the menu animation */
 .bar1, .bar2, .bar3 {
   width: 30px;
   height: 5px;
   background-color: #718800;
   margin: 5px 0;
   transition: 0.5s;
}
 
 /* Rotate first bar */
 .change .bar1 {
   transform: translate(0, 11px) rotate(-45deg);
 }
 
 /* Fade out the second bar */
 .change .bar2 {opacity: 0;}
 
 /* Rotate last bar */
 .change .bar3 {
   transform: translate(0, -11px) rotate(45deg);
 }

/**media queries for navigation bar-------**/
@media(max-width:650px){
  .navbar{
   flex-direction: column;
   align-items: flex-start;
  }
  .menu_container{
   display: block;
  }
  .exp{
   display: none;
   width: 100%;
  }
  .exp ul{
   flex-direction: column;
  }
  .exp ul li{
   text-align: center;
  }
  .exp ul li a{
   padding: .5rem 1rem;
  }
  .exp.active{
   display: flex;
  }
} 

/* EXPLORE SECTION------- */
.explore_section{
   color: white;
   width: 100%;
   height:auto;
   padding-bottom: 30px;
   background-color:  rgb(0, 0, 0);
 }
 .explore_section h1{
   color: rgb(255, 255, 255);
   text-align: center;
   padding: 10px 0;
   font-family: sans-serif;
 }
 .elplore_contents_all{
   display: flex;
   width: 80%;
   height: auto;
   flex-wrap: wrap;
   margin: auto;
   justify-content: space-around;
 }
 .explore_items{
   padding: 20px;
   margin: 10px 10px 10px 10px;
   min-width: 250px;
   max-width: 300px;
   border-radius: 15px 15px 15px 15px;
   color: white;
   margin: 10px 0;
   flex-basis: 30%;
   box-shadow: 0px 0px 5px 1px rgb(138, 255, 117);
   background-color: #000000;
 }
 .explore_items img{
   height: 100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px 2px 10px 2px;
 }
 .explore_items button{
   display: flex;
   margin: auto;
   padding: 5px 5px 5px 5px;
   border-radius: 5px;
   background-color: rgb(107, 107, 107);
   color: white;
 }
 /* end of explore section */

 /* service section------------------- */
.section-services {
	font-family: "Poppins", sans-serif;
	background-color: #000000;
	color: #ffffff;
	padding-top: 10px;
   padding-bottom: 25px;
}

.section-services .header-section {
	margin-bottom: 34px;
}
/* heading exclusive section -------------- */
.section-services .header-section .title {
	position: relative;
	text-align: center;
   padding-bottom: 10px;
   margin-bottom: 15px;
	font-weight: 700;
   font-size: 1.5rem;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: #ff4500;
    border-radius: 3px;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
   transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #504f93;
    border-radius: 3px;
}

.section-services .header-section .description {
	padding: 0px 5% 0px 5%;
	font-size: 17px;
    color: #fffefe;
}



/* single service------------------------------------ */
.section-services .all-service-section{
	width: 92%;
	margin: auto;
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-wrap: wrap;

}
.section-services .single-service {
    position: relative;
	 width: 250px;
	 margin: auto;
	 margin-top: 10px;
	 margin-bottom: 10px;
    background-color: #474747;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
}


.section-services .single-service .content {
	position: relative;
	z-index: 20;
}

.section-services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: #000000;
    border: 6px solid #4d4c93;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-services .single-service:hover .circle-before {
	width: 100%;
	height: 100%;
	transform: none;
	border: 0;
	border-radius: 0;
	opacity: 1;
}

.section-services .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color: #79ff57;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    transition: all .3s;
}

.section-services .single-service:hover .icon {
	background-color: #fff;
	color: #ff4500;
}

.section-services .single-service .title {
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.section-services .single-service:hover .title {
	color: #fce2e2;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
	 color: #e1e1e1;
    transition: color .3s;
}

.section-services .single-service:hover .description {
	color: #fff;
}

.section-services .single-service a {
	position: relative;
	font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
	color: #8fff96;
}

.section-services .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ffffff;
	transition: background-color .3s;
}

.section-services .single-service:hover a:after {
	background-color: #f90606;
}
/* end of service sectionnn---------- */




 /* ----------------break----------- */
 .break{
   height: 3px;
   background: linear-gradient(to right, rgb(1, 159, 43), rgb(132, 0, 255));
 }
 
 #portfolio_header{
  text-align: center;
 }
 /* header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 10% 0 10%;
 }
 
 header h1{
   -webkit-text-stroke: 2px white;
   color: transparent;
   cursor: default;
   font-size: 2.1em;
   transition: 1s;
   opacity: 0;
   animation: slideRight 1s ease forwards;
 }
 
 header h1:hover{
   color: white;
   text-shadow: 0 0 40px white;
 } */
 .navbar{
  padding-left: 4%;
 }
 .navbar a{
   display: inline-block;
   margin-left: 30px;
   text-decoration: none;
   font-size: 1.2em;
   transition: .5s;
   cursor: pointer;
   opacity: 0;
   animation: slideBottom 1s ease forwards;
   animation-delay: calc(.2s * var(--i));
 }
 
 .navbar a:hover,
 .navbar .active{
   color: #6bdcff;
 }
 
 .navbar a:hover{
   text-shadow: 0 0 40px #9ee8ff;
 }
 
 section{
   margin: 5% 10%;
   display: flex;
   align-items: center;
 }
 
 section h2{
   font-size: 2em;
   margin: 0 0 0 0;
   opacity: 0;
   animation: slideLeft 1s ease forwards 1.4s;
   -webkit-text-stroke: 2px white;
   color: transparent;
   transition: .5s;
 }
 
 section h3{
   opacity: 0;
   animation: slideRight 1s ease forwards;
   animation-delay: calc(.2s * var(--i))
 }
 
 section p{
   font-size: 0.9em;
   opacity: 0;
   animation: slideTop 1s ease forwards 1.8s;
 }
 
 section img{
   max-width: 300px;    
   max-height: 300px;
   opacity: 0;
   animation: slideTop 1s ease forwards 2s;
 }
 
 section .img{
   animation: animate 5s ease-in-out infinite 3s;
 }
 
 section span a{
   color: rgb(68, 255, 0);
   text-decoration: none;
   transition: .5s;
 }
 
 section span a:hover{
   text-shadow: 0 0 40px #fff;
   color: white;
 }
 
 @keyframes slideBottom{
   from{
     transform: translateY(-50px);
     opacity: 0;
   }
   
   to{
     transform: translateY(0px);
     opacity: 1;
   }
 }
 
 @keyframes slideTop{
   from{
     transform: translateY(100px);
     opacity: 0;
   }
   
   to{
     transform: translateY(0px);
     opacity: 1;
   }
 }
 
 @keyframes slideRight{
   from{
     transform: translateX(-100px);
     opacity: 0;
   }
   
   to{
     transform: translateX(0px);
     opacity: 1;
   }
 }
 
 @keyframes slideLeft{
   from{
     transform: translateX(100px);
     opacity: 0;
   }
   
   to{
     transform: translateX(0px);
     opacity: 1;
   }
 }
 
 @keyframes animate{
   0%{
     transform: translateY(0);
   }
   
   50%{
     transform: translateY(50px);
   }
   
   100%{
     transform: translateY(0);
   }
 }


 /* foot */
 footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url(Images/pngfind.com-connections-png-6603141.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
  font-family: 'Courier New', Courier, monospace;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  font-weight: bold;
}

.footer-content p {
  background-color: #000000 ;
  font-weight:bold;
  opacity: 90%;
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 20px;
  color: #d1ffca;
}

.socials {
  background-color: #000000;
  opacity: 80%;
  border-radius: 3px;
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: rgb(41, 255, 69);
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom p a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

  .footer-menu ul {
    display: flex;

    margin-top: 10px;

    margin-bottom: 20px;

    text-align: center;
  }
}
