*{
   background-color: black;
}
.exp{
  
   margin: auto;
   height: 65px;
   width: 99%;
   background-color: rgb(29, 29, 29);
   border-radius: 5px;
   -webkit-box-shadow: 2px 2px 12px 0px rgba(102,255,0,1);
   -moz-box-shadow: 2px 2px 12px 0px rgba(102,255,0,1);
   box-shadow: 2px 2px 12px 0px rgba(102,255,0,1);
}
 label.logo{
   padding-top: auto;
   margin-left: 100px;
  display: inline;
   color: aliceblue;
   font-size: 35px;
   font-weight: bold;
    background-color:rgb(29, 29, 29) ;
}
ul{
   list-style: none;
   float: right;
   display: flex;
   background-color:rgb(29, 29, 29) ;

}

ul li{
   font-size: large;
   display: inline;
    background-color:rgb(29, 29, 29) ;
    position: relative;
   
}
ul li a{
   margin-right: 50px;
   color: rgb(255, 255, 255);
   background-color:rgb(29, 29, 29) ;
}
a:hover{
   color: rgb(178, 245, 197);
   transform: 0.02s;
   transition-duration: 0.04s;
   
}